<p-dialog [modal]="true" [(visible)]="visible" [closable]="false" [style]="{ width: '25rem' }">
    <ng-template #header>
        <div class="inline-flex items-center justify-center">
            <div class="modal-icon">
                <i class="pi pi-credit-card"></i>
            </div>
            <h3 class="modal-title">Criar um novo workspace</h3>
            <p class="modal-description">Preencha os campos abaixo para criar um novo workspace.</p>
        </div>
    </ng-template>

    <div class="form-container">
        <div class="field">
            <label for="nome">Nome</label>
            <input pInputText id="nome" placeholder="Informe o nome do workspace" class="full-width" />
        </div>

        <div class="field">
            <label for="status">Status</label>
            <p-select [options]="status" optionLabel="name" placeholder="Selecione o status" class="w-full md:w-56" />
        </div>

        <div class="field">
            <label for="descricao">Descrição</label>
            <textarea class="p-textarea no-resize" rows="5" cols="30" pTextarea placeholder="Descrição do workspace"></textarea>
        </div>
    </div>

    <div class="button-container">
        <p-button label="Cancelar" severity="secondary" (click)="hide()" />
        <p-button label="Salvar" (click)="hide()" />
    </div>
</p-dialog>
